<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Forward to Test Server" stopProcessing="true">
                    <match url="^(test)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                    </serverVariables>
                    <action type="Rewrite" url="http://localhost:5595/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
